* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background-image: url(../Images/CatalogBg.png);
  background-size: cover;
}

.logo-box {
  position: absolute;
  top: 30px;
  left: 40px;
}

.logo {
  height: 80px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -100%);
}

.box {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 20px;
}

.SignIn {
  background-color: rgb(209, 64, 64);
  color: #fff;
  justify-content: end;
  align-items: flex-end;
  height: 30px;
  width: 80px;
}

.heading-primary {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.heading-primary-second {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.heading-primary-third {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.get-started {
  background-color: rgb(209, 64, 64);
  font-size: 20px;
  align-self: auto;
  color: #fff;
  width: 200px;
  height: 60px;
}

.email-address {
  width: 500px;
  height: 60px;
}
